    body{
      font-family: 'Poppins', sans-serif;
    }

    .container {
      max-width: 960px
    }

    .row {
      display: flex;
      justify-content: space-between
    }

    .row-center {
      display: flex;
      justify-content: center
    }

    .one-third {
      width: 32%
    }

    .mb{
      margin-bottom: 10px
    }

    .button {
    color: teal; 
    border: 1px teal solid; 
    border-radius: 5px; 
    text-decoration: none;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em
    }

    .player-card {
    border: thin green solid;
    border-radius: 5px; 
    width: 49%;
    text-align: center;
    }

    .computer-card {
    border: thin red solid; 
    border-radius: 5px;
    width: 49%;
    text-align: center
    }

    .outcome-card {
    border: thin red solid; 
    background-color: pink;
    border-radius: 5px;
    width: 66%;
    text-align: center
    }